body{
	background-image: url(../../../images/Photo1.png);
	background-repeat: no-repeat;
	overflow-x: hidden;
}
header .container{
	margin-top: 40px;
	margin-left: 130px;
}
ul li{
	list-style-type: none;
	display: inline;
	margin: 10px;
	margin-right: 10px;
	font-weight: bold;
	font-size: 14px;
}
#list #top-logo{
	margin-left: 200px;
	margin-right: 200px;
}
#list #heading{
	margin-left: 205px;
	text-transform: uppercase;
	margin-right: 165px;
}
.items svg{
	margin-right:1px;
}
#list #sublist{
	background-color: #137ef7;
	padding: 11px 22px;
	border-radius: 50px;
	color: white;
	margin-left: 8px;
	font-weight: normal;
}
#list #sublist svg{
	margin-top: 1px;
}
.row h1{
	font-size: 55px;
	margin-top: 45px;
	margin-left: 330px;
	font-weight: normal;
}
.row pre{
	margin-top: 15px;
	margin-left: 30px;
	font-size: 19px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: gray;
}
.video{
	border: 0.5px solid gray;
	border-radius: 50px;
	padding: 10px 30px;
	margin-left: 570px;
}
.first{
	margin-top: 42em;
	padding-left: 30px;
}
.lock-text{
	padding-right: 90px;
	color: gray;
}
.clock-text{
	padding-right: 90px;
	color: gray;
}
.second{
	margin-top: 15em;
	
}
.second h2{
	margin-left: 100px;
	margin-top: 130px;
	font-size: 40px;
}
.second p{
	margin-left: 100px;
	margin-top: 30px;
	margin-right: 200px;
	font-size: 18px;
	color: gray;
	margin-bottom: 70px;
}
.arrow-img{
	border-radius: 50px;
	background: #137ef7;
	color: white;
	padding: 8px 18px;
	margin-top: 200px;
	margin-left: 100px;
	margin-right: 20px;
}
.arrow-img svg{
	margin-left: 30px;
}
.Learn-more{
	border-radius: 50px;
	border: 1px solid black;
	margin-top: 200px;
	padding: 8px 18px;
	border-color: grey;
}
.third-column-two img{
	margin-left: 75px;
	margin-top: 140px;

}
.third-column-one h2{
	margin-top: 180px;
	margin-left: 200px;
	font-size: 35px;
	margin-bottom: 40px;
}
.row-image span{
	text-transform: uppercase;
	font-size: 12px;
	margin-bottom: 20px;
}
.third-column-one p{
	margin-left: 200px;
	font-size: 18px;
	color: gray;
}
.row-image{
	margin-left: 200px;
	margin-top: 40px;
	margin-bottom: 10px;
}
.row-image img{
	margin-top: 10px;
	margin-right: 10px;
}
.fourth{
	margin-top: 150px;
	background-color: #eff0f2;
	text-align: center;
}
.fourth h2{
	margin-top: 100px;
	padding-top: 130px;
	font-size: 37px;
}
.fourth hr{
	margin-top: 2em;
	border-width: 3px;
	border-color: #3074db;
	margin-bottom: 2em;
	margin-left: 46em;
	width: 50px;
}
.fourth p{
	font-size: 12px;
	font-weight: bold;
	color: gray;
}
.screen-image{
	margin-bottom: 150px;
}
.fourth span{
	font-size: 12px;
	color: gray;
	font-weight: bold;
}
.fourth h3{
	margin-top: 20px;
	font-size: 45px;
	margin-bottom: 50px;
}
.fourth .second-text{
	text-transform: uppercase;
	margin-top: 50px;
}
.fourth .appstore{
	margin-bottom: 100px;
}
/*============== Swiper style ==============*/
    .slider-section {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
.swiper-container {
      width: 75%;
      height: 50%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
/*==========================================*/
.fifth{
	margin-top: 100px;
	text-align: center;
}
.swiper-text{
	margin-top: 20px;
}
.swiper-text span{
	font-size: 28px;
}
.swiper-text p{
	margin: 30px 300px;
	font-size: 17px;
	color: gray;
}
.swiper-text .cameron{
	margin-top: 50px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: black;
}